<!DOCTYPE html>
<html>
<head>
    <title>Address {{address}} - Bundler explorer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>

    <h1>Address {{address}}</h1>
    <p>Balance: {{balance}} ETH</p>

    <h2>Intent history ({{total}} total)</h2>
    {{#if intents}}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Data len</th>
                <th>Max blob gas price</th>
                <th>Status</th>
                <th>TX hash</th>
                <th>Updated at</th>
            </tr>
        </thead>
        <tbody>
            {{#each intents}}
            <tr>
                <td><a href='/intent/{{id}}'>{{id}}</a></td>
                <td>{{data_len}}</td>
                <td>{{max_blob_gas_price}}</td>
                <td><span class="{{status_class}}">{{status}}</span></td>
                <td>
                    {{#if tx_hash}}
                    <a href='/tx/{{tx_hash}}'>{{tx_hash}}</a>
                    {{else}}
                    -
                    {{/if}}
                </td>
                <td>{{updated_at}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p>
        {{#if has_prev}}
        <a href='/address/{{address}}?limit={{limit}}&offset={{prev_offset}}'>Previous</a>
        {{/if}}
        {{#if has_next}}
        <a href='/address/{{address}}?limit={{limit}}&offset={{next_offset}}'>Next</a>
        {{/if}}
    </p>
    {{else}}
    <p class="empty-msg">No intents for this address.</p>
    {{/if}}
</body>
</html>
