<!DOCTYPE html>
<html>
<head>
    <title>Bundler explorer</title>
    <style>
        html {
            font-family: monospace, monospace;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        code {
            word-wrap: break-word;
        }
    </style>
</head>
<body>
    <h1>Intent {{id}}</h1>

    <p>From: <a href='/address/{{from}}'>{{address}}</a></p>
    <p>Data length: {{data_len}}</p>
    <p>Data hash: {{data_hash}}</p>

    <h2>Raw data</h2>
    <code>{{data}}</code>
</body>
</html>


